@charset "UTF-8";
@import 'Public';

.page-home{
	background: #f7f7f7;

	.page-content{
		/*@include my-fixed(0, 2.5rem, auto);*/
		padding: 0 0 2.5rem 0;
        background: #fff;

		//轮播图样式
		.slick-slider{
			margin: 0px auto 0px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-ms-touch-action: pan-y;
			touch-action: pan-y;
			-webkit-tap-highlight-color: transparent;
			position: relative;
			display: block;
			z-index:0;
			
			.slick-list{
				-webkit-transform: translate3d(0,0,0);
				-moz-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				-o-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
				position: relative;
				display: block;
				margin: 0;
				padding: 0;
				overflow: hidden;
				/*height: 9.5rem;*/
			}
			
			.slick-track{
				-webkit-transform: translate3d(0,0,0);
				-moz-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				-o-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
				left: 0;
				top: 0;
				position: relative;
				display: block;
				
				img{
					/*height: 9.5rem !important;*/
					width: 100%;
				}

                .empty-img{
                    background: url("../img/empty_img.png") center / contain no-repeat;
                    height: 10rem;
                    width: 10rem;
                    margin: 1rem 0;
                }
			}
			
			.slick-slide{
				float: left;
				height: 100%;
				min-height: 1px;
				display: block;
			}
			
			.slick-prev, .slick-next{
				display: none!important;
			}
			
			.slick-dots{
				bottom: 0px;
				list-style: none;
				text-align: center;
				width: 100%;
				position: absolute;
				padding: 0;
				line-height: 1.6;
				font-family: inherit;
				height: 1.5rem;
				z-index: 9;
				
				li {
					position: relative;
					display: inline-block;
					padding: 0;
					cursor: pointer;
					
					button {
						border: 0;
						background: 0 0;
						display: block;
						outline: 0;
						line-height: 0;
						font-size: 0;
						color: transparent;
						padding: .2rem;
						cursor: pointer;
					}
					
					button:before {
						/*position: absolute;*/
						width: .3rem;
						height: .3rem;
						border-radius: .15rem;
						top: 0;
						left: 0;
						content: "";
						text-align: center;
						background: rgba(102, 102, 102, 0.52);
						display: block;
						transition: .5s;
					}
				}
				
				li.slick-active{
					button:before{
						background: $COLOR_MAIN;
						width: .75rem;
					}
				}
			}
		}
		//----轮播图样式结束
		
		.store-list{
			
		}
	}
}