@charset "UTF-8";
@import '../Public';

.component-history-list-item{
	position: relative;
	/*margin: .75rem .75rem .5rem .75rem;*/
	/*border-bottom: $BORDER;*/
	color: $COLOR_BLACK;
	
	/*.store-img{
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		position: absolute;
		left: .5rem;
		top: .5rem;
	}*/
	
	.assess-info{
		padding: .5rem 0 0 0;
		
		.title{
			position: relative;
			border-bottom: $BORDER;
			padding: 0 0 .25rem 0;
			
			.store-name{
				font-size: .7rem;
				@include my-oneLine();
				max-width: 50%;
			}
			
			.time{
				position: absolute;
				right: 0;
				bottom: .25rem;
				font-size: .6rem;
				color: $COLOR_UN_ACTIVE;
			}
		}
		
		.star-line{
			margin: .5rem 0;
			position: relative;
			
			.label{
				font-size: .7rem;
				position: absolute;
			}
		}
	}
	
	.content{
		font-size: .7rem;
		word-break: break-all;
		margin: .8rem 0;
		border: $BORDER;
		border-left: none;
		border-right: none;
		padding: .5rem;
	}
	
	.component-stars{
		display: block;
		margin: 0 1rem 0 2.5rem;
		
		.star-bar{
			height: .8rem;
			margin: 0;
			width: 70%;
			
			span{
				width: .8rem;
				height: .8rem;
				display: inherit;
			}
		}
	}
}