@charset "UTF-8";
@import '../Public';

.component-store-list-item{
	position: relative;
	margin: .75rem .75rem .5rem .75rem;
	
	.status-mark{
		position: absolute;
		color: #fff;
		background: rgba(249, 196, 178, 0.7);
		font-size: .7rem;
		top: -.4rem;
		left: -.4rem;
		padding: .1rem .2rem;
		border-radius: .1rem;
		
		&.unable{
			color: #fff;
			background: rgba(73, 69, 76, 0.61);
		}
	}
	
	.image{
		display: block;
		width: 100%;
	}
	
	.detail-info{
		padding: .25rem 0 0 0;
		border-bottom: 1px solid #ccc;
		
		.name{
			@include my-oneLine();
			color: $COLOR_BLACK;
			font-size: .7rem;
			width: 80%;
			padding: 0 20% 0 0;
			position: relative;
			
			.distance{
				position: absolute;
				color: $COLOR_UN_ACTIVE;
				font-size: .6rem;
				right: 0;
				bottom: 0;
			}
		}
		
		.local{
			@include my-oneLine();
			color: $COLOR_UN_ACTIVE;
			font-size: .6rem;
			margin: .2rem 0 .1rem 0;
		}
		
		.status-info{
			color: $COLOR_UN_ACTIVE;
			font-size: .6rem;
			border: 1px solid #ccc;
			margin: 0 0 .5rem 0;
			padding: 0 .3rem 0 1rem;
			position: relative;
			border-radius: .2rem;
			display: inline-block;
			
			&::before{
				position: absolute;
				content: " ";
				display: inline-block;
				background: url("../../img/time_icon.png") center / cover no-repeat;
				width: .9rem;
				top: -1px;
				bottom: -1px;
				left: -1px;
			}
			
			&.unable{
				&::before{
					background: url("../../img/time_unactive_icon.png") center / cover no-repeat;
				}
			}
		}
	}
}